* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 100px;
  background: rgb(70, 150, 229);
  height: 300px;
  color: antiquewhite;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 120px;
  justify-content: space-around;
}
form input {
  height: 40px;
  width: 900px;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(70, 150, 229);
}

form button {
  color: aliceblue;
  background: rgb(70, 150, 229);
  height: 40px;
  width: 80px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: grey;
}
ul {
  list-style: none;
}
ul button:nth-child(even) {
  background-color: red;
  color: aliceblue;
}
ul button:nth-child(odd) {
  background-color: green;
  color: aliceblue;
}
